@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Cairo", sans-serif;
}
.tag {
  padding: 5px;
  border-radius: 5px;
}
.processing {
  background-color: lightgray;
}
.processed {
  background-color: lightslategray;
}
.waiting {
  background-color: mediumslateblue;
}
.finished {
  background-color: mediumspringgreen;
}
.cancelled {
  background-color: mediumvioletred;
}
.active {
  background-color: orange;
}
/* div.MuiToolbar-root {
  background-color: antiquewhite;
} */
.toolbar-custom {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0;
}
.little-icons {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .toolbar-custom {
    flex-direction: column;
    align-items: center;
  }
}

.cards-container {
  display: flex !important;
  flex-direction: row !important;
  direction: rtl;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: "Cairo";
  page-break-inside: avoid;
  width: 100% !important;
}
.card {
  width: 48%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0.5rem !important;
  padding: 10px;
  background-image: url("/splash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  float: left;
}

/* .card:nth-child(10) {
  margin-bottom: 6rem;
}
.card:nth-child(9) {
  margin-bottom: 6rem;
}
.card:nth-child(19) {
  margin-bottom: 6rem;
}
.card:nth-child(20) {
  margin-bottom: 6rem;
} */
.card-row {
  display: flex;
  flex-direction: row;
}
.card-right {
  width: 20%;
  margin-left: 0.5rem;
}

.printTable {
  display: none;
}
.printCards {
  display: none !important;
}

@media print {
  .printTable {
    display: block !important;
  }
  .printCards {
    display: block !important;
  }
}
